.intro-outer {
    height: 200px;
    margin: 15% 0px 100px 8%;
    display: flex;
}

.intro-text {
    font-family: "asdf";
    font-size: 1.5vw;
    margin-left: 0px;
} 

@media screen and (max-width: 1190px) {
    .intro-text {
        font-size: 2vw;
    }
  }

  @media screen and (max-width: 1060px) {
    .intro-text {
        font-size: 2vw;
    }
  }

  @media screen and (max-width: 940px) {
    .intro-text {
        font-size: 2.1vw;
    }
  }

  @media screen and (max-width: 845px) {
    .intro-text {
        font-size: 20px;
    }

    .intro-outer {
        margin-top: 100px;
    }
  }

  @media screen and (max-width: 735px) {
    .intro-outer {
        margin-right: 20px;
    }
  }