.parallax {
    margin-top: -15%;
    text-align: center;
    scroll-margin-top: 12vh;
}

.rpi {
    /*margin-top: -28%;*/
    margin-top: 0;
    color: #f7453b;
    /*font-size: 100px;*/
    font-size: 7vw;
    font-family: "asdf";
    width: fit-content;
    /*margin-left: 45%;*/
    text-align: center;
    margin-right: auto;
    position: absolute;
    top: 50%;
    width: 100%;
}

.rpi-text {
    position: relative;
    width: fit-content;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}

.rpi-text:hover {
    cursor: pointer;
}

.rpi-text:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    /*height: 4px;*/
    height: 0.5vh;
    bottom: 0;
    left: 0;
    background-color: #f7453b;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.rpi-text:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.school-card {
    border: black 3px solid;
    background-color: white;
    /*height: 400px;*/
    height: 50%;
    width: 50%;
    /*margin-top: -24%;*/
    margin-left: 25%;
    transition: width 0.25s linear;
    position: absolute;
    top: 25%;
    text-align: center;
}

.school-card:hover {
    cursor: pointer;
}

.none {
    z-index: -10;
}

.show {
    z-index: 10;
}

.middle {
    z-index: 0;
    position: relative;
}

p {
    font-family: "asdf";
}

.school-title {
    font-size: 25px;
    font-weight: bold;
}

.rpi-image {
    width: 100%;
}

.image-container {
    text-align: center;
    overflow-x: hidden;
}

@media screen and (max-width: 820px) {
    .rpi {
        font-size: 60px;
    }
}

@media screen and (max-width: 1300px) {
    .rpi-image {
        width: 1600px;
    }
}

@media screen and (min-width: 1300px) {
    .school-card {
        height: 60%;
        width: 56%;
        top: 20%;
        margin-left: 22%;
    }
}

@media screen and (max-width: 900px) {
    .school-card {
        height: 50%;
        width: 56%;
        top: 25%;
        margin-left: 22%;
    }
}

@media screen and (max-width: 800px) {
    .school-card {
        height: 50%;
        width: 66%;
        top: 25%;
        margin-left: 17%;
    }
}

@media screen and (max-width: 690px) {
    .school-card {
        height: 50%;
        width: 76%;
        top: 25%;
        margin-left: 12%;
    }
}

@media screen and (max-width: 600px) {
    .school-card {
        height: 50%;
        width: 86%;
        top: 25%;
        margin-left: 7%;
    }
}

@media screen and (max-width: 450px) {
    .school-card {
        height: 52%;
        width: 86%;
        top: 22%;
        margin-left: 7%;
    }
}

@media screen and (max-width: 385px) {
    .school-card {
        height: 54%;
        width: 86%;
        top: 23%;
        margin-left: 7%;
    }
}