.skills {
    background-color: #e6e6e6;
    min-height: fit-content;
    padding-bottom: 7vh;
}

#skills {
    scroll-margin-top: 15vh;
}

.skills-title {
    font-family: "asdf";
    font-size: 6vw;
    color: #ff964f;
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3vh;
    margin-bottom: 3vh;
}

.MuiCardMedia-root {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

/*skills-title:hover {
    cursor: pointer;
}

.skills-title:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    /*height: 4px;*
    height: 0.5vh;
    bottom: 0;
    left: 0;
    background-color: #ff964f;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.skills-title:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}*/

.skills-outer {
    display: flex;
    columns: 4;
    flex-wrap: wrap;
}

.skills-none {
    display: none;
}